:root {
    --main-bg-color: #333333;
    --main-bg-color-opacity-7: rgba(51, 51, 51, .7);
    --selected-text-color: rgb(0, 255, 225);
    --color-first: #482B55;
    --color-second: #5C2277;
    --color-third: #711A99;
    --color-fourth: #8511BB;
    --color-fifth: #9A09DD;
    --color-sixth: #9A09DD;
    --color-gold: #FFD700;
}

/***************************************************************************************************/
/*************************************** Estilos Generales *****************************************/
/***************************************************************************************************/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    background-color: #333333;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.text-white {
    color: white;
}

.grid-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-column-gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 0fr);
    grid-column-gap: 1rem;
}

.mt-3 {
    margin-top: 2rem;
}

.alignIcon-bottom {
    vertical-align: bottom;
}

.cursor-pointer {
    cursor: pointer;
}

.pl-1 {
    padding-left: 1rem;
}

/***************************************************************************************************/
/********************************* Estilos del componente Card *************************************/
/***************************************************************************************************/

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    height: 12rem;
    flex: 0 0 8rem;
    text-align: center;
}

.cardInfo {
    background: var(--main-bg-color-opacity-7);
    margin-top: -115px;
    position: relative;
    color: white;
    height: 6rem;
    padding-top: 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px -30px 18px 10px var(--main-bg-color-opacity-7);
    visibility: hidden;
    vertical-align: middle;
}

.card:hover .cardInfo {
    visibility: visible;
    animation: showInfo 0.2s linear 0s 1 normal forwards;
}

.cardMovie {
    width: 100%;
    text-align: center;
}

.cardImg {
    border-radius: 5px;
    box-shadow: 10px 10px 0px 0px rgb(41, 41, 41);
}

.voteAverage {
    text-align: right;
    margin-right: 1rem;
    color: var(--color-gold);
    vertical-align: 'bottom';
}

/***************************************************************************************************/
/********************************* Estilos del componente Pager ************************************/
/***************************************************************************************************/
.pager {
    justify-content: center;
}

.inputPager {
    width: 3rem;
    height: 2rem;
    text-align: center;
    padding-top: 0.25rem;
    border-radius: 5px;
    font-size: medium;
    border: 1px solid black;
}

.iconPager {
    margin-top: 5px;
}

.btnPager {
    border-radius: 5px;
    background-color: var(--color-third);
    color: white;
    width: 2.5rem;
    border: 1px solid var(--color-first);
}

.btnPager:hover {
    background-color: var(--color-fifth);
}

.btnPager:disabled,
.btnPager[disabled] {
    background-color: var(--color-first);
}

/***************************************************************************************************/
/************************************ Funciones de animacion ***************************************/
/***************************************************************************************************/

@keyframes showInfo {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*      Estilos de Series       */
.search {
    text-align: center;
    margin-bottom: 1rem;
}

.inputSearch {
    width: 20rem;
    height: 30px;
    border-radius: 3rem;
    border: none;
}

.inputPager {
    width: 3rem;
    height: 30px;
    border-radius: 3rem;
}

.buttonSearch {
    background-color: #9c27d2;
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 6rem;
    height: 35px;
    border-radius: 10px;
    border: none
}


/***************************************************************************************************/
/************************************** Estlos del NavBAr ******************************************/
/***************************************************************************************************/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 60px;
    background-color: var(--color-first);
    position: relative;
}

.logo {
    font-size: large;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
}

.menu-icon {
    display: none;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: var(--selected-text-color);
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--selected-text-color);
}

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: var(--color-second);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}


/***************************************************************************************************/
/************************************** Estlos del NavBAr ******************************************/
/***************************************************************************************************/

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar {
    height: 60px;
    background-color: var(--color-first);
    position: relative;
}

.logo {
    font-size: large;
    color: white;
    font-weight: bold;
    text-decoration: none !important;
}

.menu-icon {
    display: none;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
    margin-right: 60px;
}

.nav-elements ul a {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.nav-elements ul a.active {
    color: var(--selected-text-color);
    font-weight: 500;
    position: relative;
}

.nav-elements ul a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--selected-text-color);
}

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 30px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-elements {
        position: absolute;
        right: 0;
        top: 60px;
        background-color: var(--color-second);
        width: 0px;
        height: calc(100vh - 60px);
        transition: all 0.3s ease-in;
        overflow: hidden;
    }

    .nav-elements.active {
        width: 270px;
    }

    .nav-elements ul {
        display: flex;
        flex-direction: column;
    }

    .nav-elements ul li {
        margin-right: unset;
        margin-top: 22px;
    }
}

/***************************************************************************************************/
/************************************** Estlos IMG Banner ******************************************/
/***************************************************************************************************/

.banner {
    width: 100%;
    height: 35rem;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/***************************************************************************************************/
/*********************************** Estlos del Componente Info ************************************/
/***************************************************************************************************/

.textTitle {
    margin-top: -6rem;
    font-size: 3rem;
    color: white;
    padding: 2rem;
    background-color: var(--main-bg-color-opacity-7);
    position: relative;
    width: fit-content;
    border-radius: 30px;
}